#root {
  max-width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  min-height: 50vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.modal-content > input {
  color: black;
  font-weight: 0.8rem;
  background-color: whitesmoke;
  min-width: 20rem;
  padding: 0.5rem;
  margin: 1rem;
}

input:focus {
  outline: none;
}

.modal-content button {
  margin: 0.5rem;
}

.history-section {
  border: solid 2px;
  border-radius: 0.5rem;
  border-color: whitesmoke;
  height: 40vh;
  padding: 1rem;
  width: 20%;
  overflow-y: auto;
}

.submit {
  border: solid 2px;
  border-radius: 0.5rem;
  border-color: whitesmoke;
  padding: 1rem;
  width: 20%;
}
